@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ALL ABOUT ME!";
}




<!--
    This is the body of the html page. It has all static info
-->
<h1>Riley Marshall</h1>
<figure>
    <img class="JoshuaTree" src="img/Riley Joshua Tree.JPEG" />
    <figcaption>This is me at Joshua Tree. I love hiking!</figcaption>
</figure>

<div>
    <h3>IS 413 Expectations</h3>
    <p>
        I hope to be able to develop a professional website using ASP.NET as the framework. I want to be able to
        understand all the moving parts so when I go into the industry, I am able to help/solve with any problems
        that may occur. I also want to become familiar with C# as a programming language.
    </p>
</div>

<div>
    <h3>My Top 3 Jobs</h3>
    <ul>
        <li>Data Analyst</li>
        <li>Web Developer</li>
        <li>Product Manager</li>
    </ul>

</div>




